@font-face {
  font-family: "Pragmatica";
  src: url("@/assets/fonts/Pragmatica/Pragmatica-Book.ttf") format("truetype");
}
@font-face {
  font-family: "ArnoPro";
  src: url("@/assets/fonts/ArnoPro/ArnoPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "ArnoProSubhead";
  src: url("@/assets/fonts/ArnoPro/ArnoPro-Subhead.otf") format("opentype");
}
