// MEDIA //
$media: 768px;

// TIME //
$time: 0.3s;
$smooth: 0.5s;
$smoother: 0.7s;

// BORDER-RADIUS //
$border-radius: 0.94vw;
$border-radius-mobile: 2.67vw;

// COLORS //
$gold: #bc8565;
$brown: #8c4318;
$dark: #2c2c2c;
$toner: #ebe5df80;
$beige: #dbd6d5;
$white: #f5f2f0;
$black: #101010;
