@import "@/assets/styles/variables.scss";
.map {
  width: 100%;
  height: 100vh;

  z-index: 0;
  position: relative;
  @media (max-width: $media) {
    height: calc(100lvh - 79vw);
  }
  &-google {
    width: 100%;
    height: 100%;
  }
}

.info {
  border-radius: $border-radius;
  z-index: 1;
  position: absolute;
  bottom: 1.56vw;
  right: 1.56vw;
  background-color: $beige;
  display: flex;
  flex-direction: column;
  width: 27.34vw;

  padding: 1.56vw;
  @media (max-width: $media) {
    position: unset;
    width: 92vw;
    padding: 4.53vw 4vw 3.2vw 4vw;
    bottom: unset;
    right: unset;
    bottom: 4vw;
    left: 4vw;
    border-radius: $border-radius-mobile;
  }
  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    &:first-child {
      margin-bottom: 1.56vw;
      @media (max-width: $media) {
        margin-bottom: 8vw;
      }
    }
    &:nth-child(2) {
      margin-bottom: 1.042vw;
      @media (max-width: $media) {
        margin-bottom: 4vw;
      }
    }
    &:nth-child(3) {
      margin-bottom: 0.94vw;
      @media (max-width: $media) {
        margin-bottom: 5.07vw;
      }
    }
    &:nth-child(4) {
      margin-bottom: 3.23vw;
      @media (max-width: $media) {
        margin-bottom: 7.73vw;
      }
    }
    &-title {
      color: $brown;
      margin-bottom: 0.78vw;
      @media (max-width: $media) {
        margin-bottom: 4vw;
      }
    }
  }
  &__distribution {
    padding-top: 1.563vw;
    border-top: 1px solid $dark;

    @media (max-width: $media) {
      padding-top: 5.333vw;
    }
    &-title {
      margin-bottom: 1.563vw;
      color: $brown;
      @media (max-width: $media) {
        margin-bottom: 4vw;
      }
    }
  }
}
